.App {
  /* text-align: center; */
  /* min-height: 100vh; */
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-container{
  padding-top: 50px;
}

.user-form{
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.result{
  display:flex;
  flex: 0 100%;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}
.result>li{
  padding-bottom: 20px;
}



.user-form>input{
  border: 2px solid black;
  border-radius: 50px;
  font-size: 20px;
  padding: 14px 28px;
  outline: none;
}


.user-form>button{
  border: 2px solid black;
  border-radius: 50px;
  padding: 14px 28px;
  margin-left: -50px;
  font-size: 20px;
  color: white;
  background-color: #282c34;
  outline: none;
}

.user-form>button:hover{
  
  color: black;
  background-color:white;
  outline: none;
  cursor: pointer;
}


.App-link {
  color: #61dafb;
}

.nav-title{
  color: white;
  
}


.no-data-found{
  
}
